<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1>Cart</h1>

    <p th:unless="${cart} and ${cart.size()}">
        Your Shopping Cart is empty.
    </p>

    <p th:unless="${cart} and ${cart.size()}">
        Shopping Cart:
    </p>

    <form method="post">
        <select>
            <option th:each="menu : ${menus}" th:text="${menu.name}" th:value="${menu.name}"></option>
        </select>
        <input type="submit" value="Add to Cart" />

    </form>
</div>
</body>
</html>